@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700,400italic);

$fontserif: 'Abril Fatface', cursive;

$fontsans:'Open Sans', sans-serif;

@mixin font-size($size-value){
	font-size:$size-value * 1px;
	font-size:($size-value/10) * 1rem;
}

body{
	font-size:62.5%;
}

h1{
	@include font-size(32);
	font-family:$fontserif;
	font-weight:bold;
	letter-spacing:3px;
}

h1{
	@include font-size(32);
	font-family:$fontserif;
	font-weight:bold;
	letter-spacing:3px;
}

h2{
	@include font-size(22);
	font-family:$fontserif;
}

h3{
	@include font-size(18);
	font-family:$fontserif;
}

h4{
	@include font-size(16);
	font-family:$fontserif;
}

h5{
	@include font-size(14)
	font-family:$fontserif;
}

h6{
	@include font-size(12)
	font-family:$fontserif;
}

li{
	@include font-size(12)
	font-family:$fontsans;
}

p{
	@include font-size(12)
	font-family:$fontsans;
}
