@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700,400italic);

$fontserif: 'Abril Fatface', cursive;

$fontsans:'Open Sans', sans-serif;

// Color palette
$brown-light: #f5dfbe;
$brown-medium: #c4a077;
$brown-medium-rgba: rgba(196, 160, 119, 0.75);
$brown-dark: #522c1b;
$blue: #a5babb;

@mixin font-size($size-value){
	font-size:$size-value * 1px;
	font-size:($size-value/10) * 1rem;
}

body{
	font-size:62.5%;
}

h1{
	@include font-size(32);
	font-family:$fontserif;
	color: $brown-dark;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

h2{
	@include font-size(18);
	font-family:$fontserif;
	font-size: 1rem;
	letter-spacing: .2rem;
	color: $brown-medium;
}

h3{
	@include font-size(10);
	font-family:$fontsans;
	font-size: .3rem;
	letter-spacing: .2rem;
}

h4{
	@include font-size(16);
	font-family:$fontsans;
	font-size: .9rem;
	letter-spacing: .1rem;
	text-align: center;
}

h5{
	@include font-size(14)
	font-family:$fontserif;
}

h6{
	@include font-size(12)
	font-family:$fontserif;
}

li{
	@include font-size(12)
	font-family:$fontsans;
}

figcaption{
	@include font-size(8)
	font-family:$fontsans;
}

p{
	@include font-size(12)
	font-family:$fontsans;
	font-size: .9rem; 
	letter-spacing: .2rem;
	line-height: 1.5rem;
}