@import "setup";

@import "typography";

// Color palette
$brown-light: #f5dfbe;
$brown-medium: #c4a077;
$brown-medium-rgba: rgba(196, 160, 119, 0.75);
$brown-dark: #522c1b;
$blue: #a5babb;

// Generic Styles

.wrapper {
	max-width: 1100px;
	width: 90%;
	padding: 0;
	margin:0 auto;
}

body {
	background: $brown-medium;
}

a {
    color: $brown-dark;
    text-decoration: none;
}

a:hover 
{
     color: $blue; 
     text-decoration: none; 
     cursor: pointer;
}

select {
	font-size: 1rem; 
	letter-spacing: 0.2rem;
}



// HEADER

header {
	background: $brown-light;
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	
	.wrapper{
		display: flex;

	.left-info {
		display: flex;
		width: 45%;

			.content {
				margin: auto;
			}
		}

	.right-image {
		display: flex;
		align-self: flex-end;
		width: 45%;	

			.main-image img{
				width: 65%;
				display: block;
				float: right;
			}
		}

		.center-container {
			display: flex;
			width: 10%;
			font-size: .8rem;
			justify-content: center;
			align-self: flex-end;
			margin-bottom: 3%;
			color: $brown-medium;

				input[type="text"]{
					margin-top: 3%; 
					padding: 5%;
					width: 200px;
					background-color: #f2e2cb;
					outline: #f4debd;
					border: 1px solid #c4a077;
				}	
				
				::-webkit-input-placeholder {
				    color: #c4a077;
				}
				::-moz-placeholder {
				   color: #c4a077;
				   opacity:  1;
				}

				input[type="submit"]{
					font-size: .8rem;
					background-color: #512b1b;
					color: #f4debd;
					width: 200px;
					padding: 5%;
					margin-top: 4%;
					border: none;
				}
			}


		}
	}

// DROPDOWNS

.beer-options {
	background: $blue;
	border-top: 1px solid $brown-medium;
	display:none;

	.dropdown-menus {
		display: flex;
		width: 100%;
		padding: 3%;
		justify-content: space-around;
		
		.selector{
			width:275px;
			text-align:center;
		}

		.beer-style,
		.beer-strength,
		.beer-type {
			background: #becece;
			width: 275px;
			padding: 5px;
			font-size: .8rem;
			line-height: 1;
			border: 0;
			outline: $blue;
			height: 34px;
			margin-top:10px;
		}

		label{
			@include font-size(10);
		}
	}
}
// #beers-desktop
#beers-desktop {
	display: flex;
	flex-wrap: wrap;

	figure {
		background-position: center;
		background-size: cover;
		padding-bottom: calc(33.3% - 20px);
		margin: 10px 10px;
		position: relative;
		width: calc(33.3% - 20px);
		&:hover .overlay {
			opacity: 1.0;
		}
	}
	.overlay {
		background-color: $brown-medium-rgba;
		height: 100%;
		opacity: 0;
		padding: 10px;
		position: absolute;
		transition: all 0.3s ease-in;
		width: 100%;
	}
	.overlay-text {
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}
	.beer-name {
		@include font-size(14);
		line-height: 1.0;
	}
	figcaption {
		color: $brown-dark;
		@include font-size(10);
		font-weight: bold;
		line-height: 1.5rem;
		text-align: center;
	}
	.alcohol-style-price {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	ul li {
		@include font-size(10);
		letter-spacing: 1.5px;
	}
}
//.detailed-view
.detailed-view {
	margin: 0 auto;
	max-width: 750px;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	button {
		background-color: transparent;
		border: none;
		width: 35px;
	}

	.content {
		display: flex;

		figure {
			margin-right: 25px;
			width: 35%;

			img {
				max-width: 100%;
			}
		}
		div {
			width: 65%;
		}
	}
}

// modal
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

// #beers-mobile
#beers-mobile {
	display: none;
	
	details {
		border-left: 2px solid $brown-dark;
		margin-bottom: 20px;
		padding: 2px 10px 5px 10px;
		display: flex;
	}

	details:last-child {
		margin-bottom: 0;
	}

	details summary{
		padding:7px 0;
	}

	details summary::-webkit-details-marker {
		display: none;
	}
	summary div {
		display: flex;
		align-items: center;
	}
	img {
		max-height: 75px;
		max-width: 75px;
	}
	figcaption {
		margin-left: 10px;
	}
	.beer-name {
		@include font-size(12);
		font-weight: bold;
	}

	.firstp{
		width:100%;
		text-align:center;
		font-weight:bold;
		letter-spacing:0;
		margin-top:10px;
	}

	.alcohol-style-price {
		display: flex;
		align-items: center;
		justify-content: center;
		padding:10px 0;
		
		// p:nth-of-type(2) {
		// 	background-color: $brown-light;
		// 	border-radius: 5px;
		// 	color: $brown-dark;
		// 	@include font-size(8);
		// 	padding: 5px;
		// }
		p{
			text-align:center;
			font-weight:bold;
			letter-spacing:0;
			margin:0 5px;
		}

	}

	.beer-description {
		font-style: italic;
		letter-spacing: 0.5px;
		padding-bottom:10px;
		text-align:center;
	}
	
	.locations{
		padding-bottom:10px;
		font-weight:bold;
	}

	ul li{
		@include font-size(9);
		list-style:circle;
		margin-left:20px;
		margin-bottom:5px;
		line-height:20px;
	}

}
// FOOTER

footer {
	width: 100%;
	padding: 2%;
	background: $brown-light;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-top: 1px solid $brown-medium;
	
	.site-devs {
		display: flex;
		width: 100%;
		padding: 1%;	
	}

	.social {
		display: flex;
		margin: auto;
		flex-direction: row;

		p {
			padding: 10% 5% 5% 5%;
			color: $brown-dark;
		}
	}

	.first-dev,
	.second-dev,
	.third-dev {
		display: flex;
		flex-direction: column;
		width: 35%;
		padding: 5%;
		}

	.vertical-line {
		border-left: 1px solid $blue;
	}

	.copyright {
		align-self: baseline; 
		margin: auto;
	}
}

@import "media-query";