/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700,400italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  font-size: 62.5%; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  letter-spacing: 3px; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  letter-spacing: 3px; }

h2 {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Abril Fatface", cursive; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Abril Fatface", cursive; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Abril Fatface", cursive; }

h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Abril Fatface", cursive; }

h6 {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Abril Fatface", cursive; }

li {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif; }

p {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif; }

.wrapper {
  max-width: 1100px;
  width: 90%;
  padding: 0;
  margin: 0 auto; }

body {
  background: #C4A077; }

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  color: #512b1b;
  letter-spacing: .3rem; }

h2 {
  letter-spacing: .3rem;
  color: #c4a077; }

h3 {
  letter-spacing: .3rem; }

p {
  letter-spacing: .2rem; }

a {
  color: #512b1b;
  text-decoration: none; }

a:hover {
  color: #a4baba;
  text-decoration: none;
  cursor: pointer; }

header {
  background: #f4debd;
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 0 5% 0 0; }
  header .wrapper {
    display: -ms-flexbox;
    display: flex;
    padding: 0 5% 0 0; }
    header .wrapper .left-info {
      display: -ms-flexbox;
      display: flex;
      width: 45%; }
      header .wrapper .left-info .content {
        margin: auto; }
    header .wrapper .right-image {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 45%; }
      header .wrapper .right-image .main-image img {
        width: 65%;
        display: block;
        float: right; }
    header .wrapper .center-arrow {
      display: -ms-flexbox;
      display: flex;
      width: 10%;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-bottom: 3%;
      font-size: 5rem;
      color: #c4a077; }

.beer-options {
  background: #a4baba;
  border-top: 1px solid #c4a077; }
  .beer-options .dropdown-menus {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 3%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .beer-options .dropdown-menus #beer-style,
    .beer-options .dropdown-menus #beer-strength,
    .beer-options .dropdown-menus #beer-type {
      background: #f7f0e6;
      width: 275px;
      padding: 5px;
      font-size: 1.5rem;
      line-height: 1;
      border: 0;
      outline: #a4baba;
      height: 34px; }
  .beer-options #beers-desktop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .beer-options #beers-desktop figure {
      width: calc(33.3% - 20px);
      margin: 10px 10px;
      padding-bottom: calc(33.3% - 20px); }

footer {
  width: 100%;
  padding: 1%;
  background: #f4debd;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  border-top: 1px solid #c4a077; }
  footer .site-devs {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 1%; }
  footer .social {
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-direction: row;
        flex-direction: row; }
    footer .social p {
      padding: 25% 5% 5% 5%;
      color: #512b1b; }
  footer .first-dev,
  footer .second-dev,
  footer .third-dev {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 35%;
    padding: 5%; }
  footer .vertical-line {
    border-left: 1px solid #a4baba; }
  footer .copyright {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin: auto; }
