/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700,400italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  font-size: 62.5%; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Abril Fatface", cursive;
  color: #522c1b;
  letter-spacing: 0.3rem;
  text-transform: uppercase; }

h2 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Abril Fatface", cursive;
  font-size: 1rem;
  letter-spacing: .2rem;
  color: #c4a077; }

h3 {
  font-size: 10px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: .3rem;
  letter-spacing: .2rem; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
  letter-spacing: .1rem;
  text-align: center; }

h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Abril Fatface", cursive; }

h6 {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Abril Fatface", cursive; }

li {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif; }

figcaption {
  font-size: 8px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif; }

p {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
  letter-spacing: .2rem;
  line-height: 1.5rem; }

.wrapper {
  max-width: 1100px;
  width: 90%;
  padding: 0;
  margin: 0 auto; }

body {
  background: #c4a077; }

a {
  color: #522c1b;
  text-decoration: none; }

a:hover {
  color: #a5babb;
  text-decoration: none;
  cursor: pointer; }

select {
  font-size: 1rem;
  letter-spacing: 0.2rem; }

header {
  background: #f5dfbe;
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  header .wrapper {
    display: -ms-flexbox;
    display: flex; }
    header .wrapper .left-info {
      display: -ms-flexbox;
      display: flex;
      width: 45%; }
      header .wrapper .left-info .content {
        margin: auto; }
    header .wrapper .right-image {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 45%; }
      header .wrapper .right-image .main-image img {
        width: 65%;
        display: block;
        float: right; }
    header .wrapper .center-container {
      display: -ms-flexbox;
      display: flex;
      width: 10%;
      font-size: .8rem;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-bottom: 3%;
      color: #c4a077; }
      header .wrapper .center-container input[type="text"] {
        margin-top: 3%;
        padding: 5%;
        width: 200px;
        background-color: #f2e2cb;
        outline: #f4debd;
        border: 1px solid #c4a077; }
      header .wrapper .center-container ::-webkit-input-placeholder {
        color: #c4a077; }
      header .wrapper .center-container ::-moz-placeholder {
        color: #c4a077;
        opacity: 1; }
      header .wrapper .center-container input[type="submit"] {
        font-size: .8rem;
        background-color: #512b1b;
        color: #f4debd;
        width: 200px;
        padding: 5%;
        margin-top: 4%;
        border: none; }

.beer-options {
  background: #a5babb;
  border-top: 1px solid #c4a077;
  display: none; }
  .beer-options .dropdown-menus {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 3%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .beer-options .dropdown-menus #beer-style,
    .beer-options .dropdown-menus #beer-strength,
    .beer-options .dropdown-menus #beer-type {
      background: #a5babb;
      width: 275px;
      padding: 5px;
      font-size: .8rem;
      line-height: 1;
      border: 0;
      outline: #a5babb;
      height: 34px; }

#beers-desktop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #beers-desktop figure {
    background-position: center;
    background-size: cover;
    padding-bottom: calc(33.3% - 20px);
    margin: 10px 10px;
    position: relative;
    width: calc(33.3% - 20px); }
    #beers-desktop figure:hover .overlay {
      opacity: 1.0; }
  #beers-desktop .overlay {
    background-color: rgba(196, 160, 119, 0.75);
    height: 100%;
    opacity: 0;
    padding: 10px;
    position: absolute;
    transition: all 0.3s ease-in;
    width: 100%; }
  #beers-desktop .overlay-text {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  #beers-desktop .beer-name {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.0; }
  #beers-desktop figcaption {
    color: #522c1b;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: center; }
  #beers-desktop button {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px; }
  #beers-desktop button img {
    height: 50px;
    width: 50px; }

.detailed-view {
  margin: 0 auto;
  max-width: 750px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end; }
  .detailed-view button {
    background-color: transparent;
    border: none;
    width: 35px; }
  .detailed-view .content {
    display: -ms-flexbox;
    display: flex; }
    .detailed-view .content figure {
      margin-right: 25px;
      width: 35%; }
      .detailed-view .content figure img {
        max-width: 100%; }
    .detailed-view .content div {
      width: 65%; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

#beers-mobile {
  display: none; }
  #beers-mobile details {
    border-left: 2px solid #522c1b;
    margin-bottom: 20px;
    padding: 2px 10px 5px 10px;
    display: -ms-flexbox;
    display: flex; }
  #beers-mobile details:last-child {
    margin-bottom: 0; }
  #beers-mobile details summary {
    padding: 7px 0; }
  #beers-mobile details summary::-webkit-details-marker {
    display: none; }
  #beers-mobile summary div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  #beers-mobile img {
    max-height: 75px;
    max-width: 75px; }
  #beers-mobile figcaption {
    margin-left: 10px; }
  #beers-mobile .beer-name {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold; }
  #beers-mobile .firstp {
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0;
    margin-top: 10px; }
  #beers-mobile .alcohol-style-price {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 10px 0; }
    #beers-mobile .alcohol-style-price p {
      text-align: center;
      font-weight: bold;
      letter-spacing: 0;
      margin: 0 5px; }
  #beers-mobile .beer-description {
    font-style: italic;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    text-align: center; }
  #beers-mobile .locations {
    padding-bottom: 10px;
    font-weight: bold; }
  #beers-mobile ul li {
    font-size: 9px;
    font-size: 0.9rem;
    list-style: circle;
    margin-left: 20px;
    margin-bottom: 5px;
    line-height: 20px; }

footer {
  width: 100%;
  padding: 2%;
  background: #f5dfbe;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  border-top: 1px solid #c4a077; }
  footer .site-devs {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 1%; }
  footer .social {
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-direction: row;
        flex-direction: row; }
    footer .social p {
      padding: 10% 5% 5% 5%;
      color: #522c1b; }
  footer .first-dev,
  footer .second-dev,
  footer .third-dev {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 35%;
    padding: 5%; }
  footer .vertical-line {
    border-left: 1px solid #a5babb; }
  footer .copyright {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin: auto; }

@media screen and (max-width: 700px) {
  body:before {
    background-color: yellow;
    content: "max-width 700px"; }
  .right-image,
  .main-image {
    display: none; }
  header .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center; }
    header .wrapper .left-info {
      width: 100%; }
      header .wrapper .left-info .content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center; }
        header .wrapper .left-info .content h1 {
          text-align: center; }
    header .wrapper .center-container {
      width: 100%; }
  header form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  #beers-desktop {
    display: none; }
  #beers-mobile {
    display: block; } }

@media screen and (max-width: 560px) {
  .dropdown-menus {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center; }
  .site-devs {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center; }
    .site-devs .first-dev,
    .site-devs .second-dev,
    .site-devs .third-dev {
      width: 100%; }
  .second-dev {
    border-top: 1px solid #a5babb;
    border-bottom: 1px solid #a5babb; } }

@media screen and (max-width: 350px) {
  body:before {
    background-color: red;
    content: "max width 350px"; }
  h1 {
    font-size: 24px;
    font-size: 2.4rem; } }
